@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b54545;
  --foreground: #9c0202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: #8c3232;
  font-family: Arial, Helvetica, sans-serif;
}
