@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b54545;
  --foreground: #9c0202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8c3232;
    --foreground: #c51e1e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
